{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
  <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'website/css/slick.min.css' %}" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="{% static 'website/css/swiper-bundle.min.css' %}" />
  <!-- Link Swiper's CSS end-->
  <link rel="stylesheet" href="{% static 'website/css/animate.min.css' %}" />
  <!-- custom-css  -->
  <link rel="stylesheet" href="{% static 'website/css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
  <!-- custom-css end -->
  <link rel="icon" type="image.png" href="{% static 'website/images/favicon.png' %}" />
  <title>Aarambha Foundation &#8211; Our Beginning for the Change</title>
  <style>
    .image-box{
      width: 100%;
      overflow: hidden;
      border-radius: 8px;
    }
    .image-box img{
      object-fit: cover;
    }
    .image-box:hover{
      transform: scale(1.02);
      transition: all 0.5s ease;
    }
  </style>
</head>

<body>
  {% include 'website/includes/navbar.html'%}

  <!-- START blogs and Areas of Impact SECTION -->
  <section class="pb-3">
    <div class="bg-blue py-5">
     <h3 class="text-center text-white">Blogs</h3>
    </div>
    <div class="container ">
      <div class="row my-3 py-2">
        <div class="col-md-6">
          <div class="image-box">
            <img src="{% static 'website/images/health.jpg' %}" width="100%" height="100%" alt="Blog Image" />
          </div>
        </div>
        <div class="col-md-6  ">
          <h3 class="mb-3 mt-2">Health and Well-being</h3>
          <p>
            Promoting physical and mental health involves creating awareness about healthy lifestyles, preventing diseases, and encouraging early medical care. This is achieved through awareness campaigns that educate people about nutrition, exercise, stress management, and mental well-being. Health camps play a vital role by providing free or affordable health check-ups, screenings, and consultations, especially in underserved communities. Additionally, ensuring access to medical services helps individuals receive timely diagnosis and treatment, improving overall health outcomes and enhancing quality of life.
          </p>
        </div>
      </div>

       <div class="row ">
        <div class="col-md-6 d-flex flex-column justify-content-start">
          <h3 class="mb-3">Health Awareness and Support</h3>
          <p>
            Health Awareness and Support focuses on educating individuals and communities about physical and mental well-being while ensuring access to essential health services. It includes awareness campaigns on healthy lifestyles, disease prevention, and mental health, along with health camps that provide check-ups, screenings, and medical consultations. Through timely support and improved access to healthcare services, this initiative helps promote early treatment, better health outcomes, and an improved quality of life.
          </p>
        </div>
        <div class="col-md-6">
          <div class="image-box">
            <img src="{% static 'website/images/help.jpg' %}" width="100%" height="100%" alt="Blog Image" />
          </div>
        </div>
      </div>
    </div>
    

  </section>
  <!-- end blogs and Areas of Impact SECTION -->



  {% include "website/includes/login_modal.html" %}
  {% include "website/includes/footer.html" %}
  <!-- scripts start -->
  <!-- jquery  start-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <!-- jquery end -->
  <!-- bootstrap  start -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <!-- bootstrap end -->
  <script src="{% static 'website/js/slick.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Swiper JS -->
  <script src="{% static 'website/js/swiper-bundle.min.js' %}" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <script src="{% static 'website/js/modernizr.min.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/js/api.js' %}"></script>
  <script src="{% static 'website/js/main.js' %}"></script>
  <script src="{% static 'website/js/animation.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'website/js/general.js' %}"></script>
  <script src="{% static 'website/js/nav.js' %}"></script>
  <script src="{% static 'website/js/script.js' %}"></script>
  <script src="{% static 'website/js/min.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/config.js' %}"></script>
</body>

</html>