{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
  <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'website/css/slick.min.css' %}" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="{% static 'website/css/swiper-bundle.min.css' %}" />
  <!-- Link Swiper's CSS end-->
  <link rel="stylesheet" href="{% static 'website/css/animate.min.css' %}" />
  <!-- custom-css  -->
  <link rel="stylesheet" href="{% static 'website/css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
  <!-- custom-css end -->
  <link rel="icon" type="image.png" href="{% static 'website/images/favicon.png' %}" />
  <title>Aarambha Foundation &#8211; Our Beginning for the Change</title>
</head>

<body>
  {% include 'website/includes/navbar.html'%}

  <!-- START Events and Areas of Impact SECTION -->
  <section class="events mb-4">
    <div class="vission__content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
      <div class="d-flex justify-content-center">
        <h1 class="py-0 my-0"> All Events</h1>
      </div>
    </div>
    <div class="card-group card-group--blue-dark">
      <div class="container">
        <ul class="grid--3-col card-group__items">
          {% for event in events %}
           <li class="card card--standard card--full-link wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="{{ forloop.counter0|add:4|floatformat:1|stringformat:'0.%ss' }}">
            <a href="{% url 'website_event_detail' event.id %}" class="text-decoration-none">
              <div>
                <div class="event-image">
                  {% if event.image %}
                  <img src="{{ event.image.url }}" alt="{{ event.title }}" loading="lazy" fetchpriority="auto"
                    decoding="async" onerror="this.src='{% static 'website/images/Computer-Lab-1024x683.jpg' %}'" />
                  {% else %}
                  <img src="{% static 'website/images/Computer-Lab-1024x683.jpg' %}" alt="{{ event.title }}" loading="lazy"
                    fetchpriority="auto" decoding="async" />
                  {% endif %}
                </div>
                <div class="card__text">
                  <div>
                    <h3 class="card__title">
                      <span>{{ event.title }}</span>
                    </h3>
                    <div class="card__blurb">
                      <p>{{ event.description|truncatewords:15 }}</p>
                      {% if event.location %}
                      <p><small><i class="fa-solid fa-location-dot"></i> {{ event.location }}</small></p>
                      {% endif %}
                    </div>
                     <div>
                      <a href="{% url 'website_event_detail' event.id %}" class="btn btn--orange-white">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          {% empty %}
          <!-- Fallback events if no events in database -->
          <li class="card card--standard card--full-link wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div>
              <img src="{% static 'website/images/Computer-Lab-1024x683.jpg' %}" alt="" loading="lazy"
                fetchpriority="auto" decoding="async" />
              <div class="card__text">
                <div>
                  <h3 class="card__title">
                    <span>Aarambha: A New Beginning</span>
                  </h3>
                  <div class="card__blurb">
                    <p>A movement dedicated to helping motivated children return to school by providing the resources,
                      support, and educational spaces they deserve.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="card card--standard card--full-link wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div>
              <img src="{% static 'website/images/plantation-1024x683.jpg' %}" alt="" loading="lazy"
                fetchpriority="auto" decoding="async" />
              <div class="card__text">
                <div>
                  <h3 class="card__title">
                    <span>Bridging Gaps, Building Futures</span>
                  </h3>
                  <div class="card__blurb">
                    <p>Through libraries, digital classrooms, fellowships, and community support, we work to strengthen
                      public schools.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="card card--standard card--full-link wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div>
              <img src="{% static 'website/images/Computer-Lab-1024x683.jpg' %}" alt="" loading="lazy"
                fetchpriority="auto" decoding="async" />
              <div class="card__text">
                <div>
                  <h3 class="card__title">
                    <span>One Step at a Time</span>
                  </h3>
                  <div class="card__blurb">
                    <p>Committed to transforming education by understanding student challenges and creating sustainable
                      solutions.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </section>
  <!-- end Events and Areas of Impact SECTION -->



  {% include "website/includes/login_modal.html" %}
  {% include "website/includes/footer.html" %}
 
  <!-- scripts start -->
  <!-- jquery  start-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <!-- jquery end -->
  <!-- bootstrap  start -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <!-- bootstrap end -->
  <script src="{% static 'website/js/slick.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Swiper JS -->
  <script src="{% static 'website/js/swiper-bundle.min.js' %}" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <script src="{% static 'website/js/modernizr.min.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/js/api.js' %}"></script>
  <script src="{% static 'website/js/main.js' %}"></script>
  <script src="{% static 'website/js/animation.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'website/js/general.js' %}"></script>
  <script src="{% static 'website/js/nav.js' %}"></script>
  <script src="{% static 'website/js/script.js' %}"></script>
  <script src="{% static 'website/js/min.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/config.js' %}"></script>
</body>

</html>