 {% load static %}
 <footer class="footer__section wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
    <div class="footer_overlay pt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="footer__logo">
              <img src="{% static 'website/images/logo.png' %}" width="100%" height="100%" alt="" />
            </div>
            <div class="footer__description">
              <p>
                A youth-driven foundation empowering education, equality, and
                opportunities across Nepal.
              </p>
            </div>
            <div class="social__media">
              <ul class="d-flex">
                <a
                  href="{% if contact_info.facebook_url %}{{ contact_info.facebook_url }}{% else %}https://www.facebook.com/aarambhafoundation{% endif %}">
                  <li><i class="fa-brands fa-facebook-f"></i></li>
                </a>
                <a
                  href="{% if contact_info.instagram_url %}{{ contact_info.instagram_url }}{% else %}https://www.instagram.com/aarambhafoundation/{% endif %}">
                  <li><i class="fa-brands fa-instagram"></i></li>
                </a>
                {% if contact_info.whatsapp_url %}
                <a href="{{ contact_info.whatsapp_url }}">
                  <li><i class="fa-brands fa-whatsapp"></i></li>
                </a>
                {% else %}
                <a href="">
                  <li><i class="fa-brands fa-whatsapp"></i></li>
                </a>
                {% endif %}
                <a
                  href="{% if contact_info.linkedin_url %}{{ contact_info.linkedin_url }}{% else %}https://www.linkedin.com/company/aarambhafoundation/{% endif %}">
                  <li><i class="fa-brands fa-linkedin"></i></li>
                </a>
                <a
                  href="{% if contact_info.youtube_url %}{{ contact_info.youtube_url }}{% else %}https://www.youtube.com/channel/UCthVlyi3N4EfnGj9-pS-bMA{% endif %}">
                  <li><i class="fa-brands fa-youtube"></i></li>
                </a>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-6 mb-3">
            <h2><span>Q</span>uick Links</h2>
            <ul class="quick-links">
              <li><a href="{% url 'home' %}#who_we_are">About Us</a></li>
              <li><a href="{% url 'website_member_form' %}">Be a Member</a></li>
              <li><a href="{% url 'website_volunteer_form' %}">Be a volunteer</a></li>
              <li><a href="">Our Work</a></li>
              <li><a href="{% url 'website_privacy_policy' %}">Privacy & Policy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-6 mb-3">
            <h2><span>C</span>ontact Us</h2>
            <div class="contact__details">
              <ul class="fa-ul">
                <li>
                  <h6><i class="fa-solid fa-house"></i> Address</h6>
                  <span>{{ contact_info.address|default:"Basundhara, Kathmandu, Nepal" }}</span>
                </li>
                <li>
                  <h6><i class="fa-solid fa-phone"></i> Phone No</h6>
                  <span>{{ contact_info.phone|default:"+977 (984)346-7402" }}</span>
                </li>
                <li>
                  <h6><i class="fa-solid fa-envelope"></i> Email</h6>
                  <span><a href="mailto:{{ contact_info.email|default:'we.aarambha@gmail.com' }}">{{ contact_info.email|default:"we.aarambha@gmail.com" }}</a></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <h2><span>O</span>ur Awards</h2>
            <div class="gallery_wrapper">
              <div class="row flex-wrap">
                {% for award in awards %}
                <div class="col-4">
                  <img src="{{ award.image.url }}" width="100%" height="100%" alt="{{ award.title }}"
                    title="{{ award.title }}" />
                </div>
                {% empty %}
                <!-- Fallback award if no awards in database -->
                <div class="col-4">
                  <img src="{% static 'website/images/Award-1.jpg' %}" width="100%" height="100%" alt="" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="d-flex justify-content-center align-items-center">
          <div class="right__wrapper" style="text-align: center">
            <span style="color: white; text-align: center">
              &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              Aarambha Foundation. All Rights Reserved.
            </span>
          </div>
        </div>
      </div>
    </div>
  </footer>